.container-fluid
  %h3 Welcome To Images Hub
  %br/
  - @photos.in_groups_of(3, false) do |row|
    .row
      - for photo in row
        - if photo.image.attached?
          .col-lg-4.col-md-4.col-xs-12.thumb
            %a.thumbnail.img-container
              = image_tag photo.image.variant(resize: "400x300"), class: 'image img-responsive'
              .middle
                .text
                  = photo.user.email
